.background {
  width: 100vw;
  height: 100vh;
}

.background h1 {
  font-size: 10rem;
  margin: 0;
}

.background h2 {
  font-size: 4rem;
  margin: 0;
}

.colorLink {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.87);
}
