.welcomeContainer {
  display: flex;
  justify-content: center;
}

.welcome {
  font-size: 2rem;
  background-color: rgba(55, 55, 55, 0.3);
  width: 50%;
  border-radius: 15px;
  border: 1px solid rgb(175, 175, 175);
}

.addColor {
  color: rgba(255, 255, 255, 0.87);
}

.colorListContainer h4 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 3rem;
}
.colorList {
  display: flex;
  justify-content: center;
}

.colorList ul {
  list-style-type: none;
  padding: 0;
}

.colorLink {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  min-width: 5vw;
  font-size: 2rem;
}
